.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    background: #fdfdfd;
}

.navbar-brand{
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 20px;
    color: black;
    font-weight: 500;
    transition: 0.3s ease;
}

/* add hover effect */

.navbar-nav .nav-item .nav-link:hover,
i:hover,
.navbar-nav .nav-item .nav-link.active{
    color: coral;
}

#bar{
    border: none;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    color: black;
}

/* icon style */
i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
}

/* hero section style */

#home{
    background-image: url(assats/back.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-title-text{
    font-weight: 800;
}

.hero-title-span{
    color: coral;
}

.primary-btn{
    padding: 5px 12px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

/* responcive */

@media only screen and (max-width: 600px) {
    #home{
        width: 100%;
        height: 75vh;
        display: flex;
    }
    .hero-title-text{
        font-weight: 800;
        font-size: 25px;
    }
}

/* style new aeeiavle section */

#new-arraival .one img{
    width: 100%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new-arraival .one .details{
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new-arraival .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

#new-arraival .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new-arraival .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new-arraival .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

#new-arraival .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    border: none;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new-arraival .one .details button:hover{
    color: #fdfdfd;
    border-bottom: 1px solid #fdfdfd;
    cursor: pointer;
}

/* responsive */

@media only screen and (max-width: 600px) {
    #new-arraival .one img{
        width: 100%;
        height: 100%;
    }

    #new-arraival .one .details{
        width: 100%;
        height: 100%;
    }

    #new-arraival .one:nth-child(1) .details{
        align-items: center;
        text-align: center;
    }

    #new-arraival .one:nth-child(3) .details{
        align-items: center;
        text-align: center;
    }
}



/* featured css */

.buy-now{
    cursor: pointer;
}
